---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/LayoutMain.astro';
import Footer from '../components/footer.astro';
import Separador from '../components/Separador.astro';
import Cards from '../components/Card.astro';
import woman from '../assets/woman.jpg';
import section from '../components/SectionContainer.astro'

---

<Layout title="Bienvenidos">
	<section id="">
		<Welcome />
	</section>
	
	<section id="servicios">
		<Separador  text="Revisa mis proyectos"/>
		<div class="card-container">
		<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
		<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
		<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
		<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
		<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
		<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
		</div>
	</section>
	
	<section id="proyectos">
		<Separador  text="Encuentrame aqui"/>
		<div class="card-container">
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			</div>	
	</section>

	<section id="sobre-mi">
		<Separador  text="Encuentrame aqui"/>
		<div class="card-container">
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			<Cards src={woman.src} alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
			</div>	
	</section>

	<Footer />
</Layout>

<style>
	.card-container {
	  display: flex; /* Usa flexbox */
	  gap: 1rem; /* Espaciado entre tarjetas */
	  justify-content: center; /* Centra horizontalmente */
	  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en múltiples filas si no caben */
	}
  </style>